*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style:none;
}
nav{
  background: #4A4A4A;
  height: 60px;
}
.title,.text1,.text2{
  line-height: 60px;
  float:left;
  color: #c3c3c3;
  width: 100px;
  text-align: center;
}
.title{
  color: white;
  width: 120px;
}
.list1,.list2{
  background: blue;
  text-align: center;
  width: 120px;
  list-style: none;
  line-height: 60px;
  border-radius: 5px;
  position: absolute;
  left: 135px;
  top: -120px;
  z-index: -1;
}
.list2{
  left: 235px;
}
/* 悬浮的位置*/
.text1:hover ~ .list1,.text2:hover ~ .list2{
  top: 60px;
  transition: 0.5s;
}
/* 悬浮选中的位置*/
.list1:hover,.list2:hover{
  top: 60px;
}
.content1:hover,.content2:hover{
  background: green;
  border-radius: 5px;
  cursor: pointer;
}
b{
  border-style: solid;
  border-width: 5px;
  border-color: white transparent transparent transparent;
  position: relative;
  top: 13px;
  left: 2px;
}